div {
    cursor: default;
/*     border: 2px solid black;
 */}

body {
    background-image: url("../images/whiteHouseBackground.jpg");
    background-position: center top;
    overflow-y: scroll;
}

.space {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.charSelectArea {
    overflow-x: scroll;
}

#button {
    margin: auto;
    display: flex;
    align-items: center;
}

#toolTip {
    border-radius: 5px;
    background-color: white;
    padding: 10px;
}

.character {
    width: 200px;
    height: 200px;
    padding: 30px;
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    position: relative;
    display: flex;
    justify-content: center;
}

.selectable:hover {
    background-color: gray;
}

.characterImage {
    width: 100%;
    border: 2px solid black;
}

.health {
    position: absolute;
    bottom: 7px;
}

.name {
    position: absolute;
    top: 7px;
}

.buttonSpace {
    display: inline-flex;
    align-content: center;
    justify-content: center;
}

#gameSpace {
    background: rgb(0, 40, 104, 0.8);
    margin: 15px;
    border-radius: 5px;
}

#enemySpace {
    background: rgb(191, 10, 48, 0.8);
    margin: 15px;
    border-radius: 5px;
}

.cWrapper {
    overflow: auto;
}

.death {
    width: 100%;
    position: absolute;
    padding: 5px 30px;
}

#swords {
    width: 15px;
}

.btn-primary {
    background-color: black;
    border-color: black;
}

.btn {
    border-radius: 0px;
}

.wrap {
    margin-bottom: 15px;
}

#gameArea {
    display: flex;
    justify-content: center;
}